# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias du="du -h -d=1"
alias df="df -h"
alias h="history"

# List all files colorized in long format, including dot files
alias ls="ls -G"
alias la="ls -Gla"

# List only directories
alias lsd='ls -l | grep "^d"'

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Start an HTTP server from a directory
alias server="open http://localhost:8080/ && rails s -p 8080"

alias b="bundle"
alias be="bundle exec"
alias bi="bundle install"
alias tlog='tail -f log/development.log'


# Shortcuts
alias c="cd ~/code"
alias g="git"
alias v="vim"
alias s="subl ."
alias m="mate ."

alias gs='git status'
alias gd='git diff'

# File size
alias fs="stat -f \"%z bytes\""

# Empty the Trash
alias emptytrash="rm -rfv ~/.Trash"